In [1]:
import pandas as pd

In [2]:
new_df=pd.read_csv('weather data.csv')

In [3]:
new_df

,day,max temperature,min temperature,windspeed,humidity,event
0,monday,12,10,10,23,rain
1,tuesday,13,5,12,34,thunderstorm
2,wed,14,7,14,43,rain
3,thu,15,8,15,34,sunny
4,fri,16,9,13,23,fog
5,sat,17,3,11,21,fog
6,sun,12,2,12,20,rain

In [10]:
def desc(new_df):
    my_series0=pd.Series('max temperature')
    my_series1=pd.Series('min temperature')
    my_series2=pd.Series('windspeed')
    my_series3=pd.Series('humidity')
    total=new_df.sum('humidity')
    print(total)

In [11]:
desc(new_df)

ValueError: No axis named humidity for object type DataFrame