In [1]:
import pandas as pd

In [2]:
new_df=pd.read_csv('weather data.csv')

In [3]:
new_df

,day,max temperature,min temperature,windspeed,humidity,event
0,monday,12,10,10,23,rain
1,tuesday,13,5,12,34,thunderstorm
2,wed,14,7,14,43,rain
3,thu,15,8,15,34,sunny
4,fri,16,9,13,23,fog
5,sat,17,3,11,21,fog
6,sun,12,2,12,20,rain

In [4]:
col=new_df.columns.tolist()

In [5]:
col

['day', 'max temperature', 'min temperature', 'windspeed', 'humidity', 'event']

In [6]:
#we have to create a describe func ourselves

In [7]:
dtypes=new_df.dtypes.to_dict()

In [8]:
dtypes

{'day': dtype('O'),
 'max temperature': dtype('int64'),
 'min temperature': dtype('int64'),
 'windspeed': dtype('int64'),
 'humidity': dtype('int64'),
 'event': dtype('O')}

In [9]:
for keys in dtypes:
    if dtypes[keys]==object:
       col.remove(keys)

In [10]:
col

['max temperature', 'min temperature', 'windspeed', 'humidity']

In [29]:
def Describe(df):
    columns=df.columns.tolist()
    dtypes=df.dtypes.to_dict()
    #removing columns of types=string
    for keys in dtypes:
        if dtypes[keys]==object:
            columns.remove(keys)
            #empty dict
        dict={}
        dict['stats']='mean'
        for col in columns :
            S=0
            list=df[col].tolist()
            n=len(df)
            for i in range(len(df)):
                S=S+list[i]                   
            mean=S/n
            dict[col]=mean
        describe=pd.Dataframe(dict,index=(1,1))
        print(describe)

In [30]:
Describe(new_df)

TypeError: unsupported operand type(s) for +: 'int' and 'str'