In [1]:
import pandas as pd

In [2]:
days=['monday','tuesday','wed','thu','fri','sat','sun']
my_series=pd.Series(days)
print(my_series)

0     monday
1    tuesday
2        wed
3        thu
4        fri
5        sat
6        sun
dtype: object

In [3]:
#days1=['monday','tuesday','wed','thu','fri','sun']
my_series1=pd.Series(days,index=range(1,8))
print(my_series1)

1     monday
2    tuesday
3        wed
4        thu
5        fri
6        sat
7        sun
dtype: object

In [4]:
#creating series using dict
#dict{'1':['mon',a]}

In [5]:
maxtemp=[12,13,14,15,16,17,12]
mintemp=[10,5,7,8,9,3,2]
event=['rain','thunderstorm','rain','sunny','fog','fog','rain']
windspeed=[10,12,14,15,13,11,12]
weather={'day':days,'max temperature':maxtemp,'min temperature':mintemp,'windspeed':windspeed,'event':event}
df=pd.DataFrame(weather,index=range(1,8))

In [6]:
df

       day  max temperature  min temperature  windspeed         event
1   monday               12               10         10          rain
2  tuesday               13                5         12  thunderstorm
3      wed               14                7         14          rain
4      thu               15                8         15         sunny
5      fri               16                9         13           fog
6      sat               17                3         11           fog
7      sun               12                2         12          rain

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.to_csv('new weather data.csv')#exporting a data frame

# pandas

In [9]:
new_df=pd.read_csv('weather data.csv')

In [10]:
new_df

,day,max temperature,min temperature,windspeed,humidity,event
0,monday,12,10,10,23,rain
1,tuesday,13,5,12,34,thunderstorm
2,wed,14,7,14,43,rain
3,thu,15,8,15,34,sunny
4,fri,16,9,13,23,fog
5,sat,17,3,11,21,fog
6,sun,12,2,12,20,rain

In [11]:
new_df.shape #it returns a

(7, 6)

In [12]:
new_df.head(3)

,day,max temperature,min temperature,windspeed,humidity,event
0,monday,12,10,10,23,rain
1,tuesday,13,5,12,34,thunderstorm
2,wed,14,7,14,43,rain

In [13]:
new_df.tail()

   day  max temperature  min temperature  windspeed  humidity  event
2  wed               14                7         14        43   rain
3  thu               15                8         15        34  sunny
4  fri               16                9         13        23    fog
5  sat               17                3         11        21    fog
6  sun               12                2         12        20   rain

In [14]:
new_df[1:5]

,day,max temperature,min temperature,windspeed,humidity,event
1,tuesday,13,5,12,34,thunderstorm
2,wed,14,7,14,43,rain
3,thu,15,8,15,34,sunny
4,fri,16,9,13,23,fog

In [15]:
print(new_df.columns)

Index(['day', 'max temperature', 'min temperature', 'windspeed', 'humidity',
       'event'],
      dtype='object')

In [16]:
print(new_df.humidity)

0    23
1    34
2    43
3    34
4    23
5    21
6    20
Name: humidity, dtype: int64

In [17]:
type(new_df['humidity'])

pandas.core.series.Series

In [18]:
new_df['humidity']

0    23
1    34
2    43
3    34
4    23
5    21
6    20
Name: humidity, dtype: int64

In [19]:
new_df.max()

day                         wed
max temperature              17
min temperature              10
windspeed                    15
humidity                     43
event              thunderstorm
dtype: object

In [24]:
new_df[new_df['humidity']>20]

,day,max temperature,min temperature,windspeed,humidity,event
0,monday,12,10,10,23,rain
1,tuesday,13,5,12,34,thunderstorm
2,wed,14,7,14,43,rain
3,thu,15,8,15,34,sunny
4,fri,16,9,13,23,fog
5,sat,17,3,11,21,fog

In [25]:
new_df.describe()

       max temperature  min temperature  windspeed   humidity
count         7.000000         7.000000   7.000000   7.000000
mean         14.142857         6.285714  12.428571  28.285714
std           1.951800         3.039424   1.718249   8.750510
min          12.000000         2.000000  10.000000  20.000000
25%          12.500000         4.000000  11.500000  22.000000
50%          14.000000         7.000000  12.000000  23.000000
75%          15.500000         8.500000  13.500000  34.000000
max          17.000000        10.000000  15.000000  43.000000

In [26]:
#task create a func describe() and input a datframe in it to

In [27]:
new_df.set_index('day')

         max temperature  min temperature  windspeed  humidity         event
day
monday                12               10         10        23          rain
tuesday               13                5         12        34  thunderstorm
wed                   14                7         14        43          rain
thu                   15                8         15        34         sunny
fri                   16                9         13        23           fog
sat                   17                3         11        21           fog
sun                   12                2         12        20          rain

In [28]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   day              7 non-null      object
 1   max temperature  7 non-null      int64
 2   min temperature  7 non-null      int64
 3   windspeed        7 non-null      int64
 4   humidity         7 non-null      int64
 5   event            7 non-null      object
dtypes: int64(4), object(2)
memory usage: 464.0+ bytes

In [29]:
#object?

In [30]:
new_df.corr()#correlation func

                 max temperature  min temperature  windspeed  humidity
max temperature         1.000000        -0.008027   0.276881 -0.051580
min temperature        -0.008027         1.000000   0.164125  0.240812
windspeed               0.276881         0.164125   1.000000  0.655589
humidity               -0.051580         0.240812   0.655589  1.000000

In [32]:
import numpy as np

In [34]:
new_df['humidity'].to_numpy()

array([23, 34, 43, 34, 23, 21, 20], dtype=int64)